@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{
  font-family: "work sans";
  background-image: url('../images/dogpark4.png');
  background-size: cover;
  background-repeat: no-repeat;
}

html{
  font-size: 100%;
}

#form{
  max-width: 500px;
  min-width: 300px;
  width: 30%;
  margin: 50px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
  opacity: 0.8;
}

#headerTitle{
  text-align: center;
  font-family: 'open sans', sans-serif;
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
}

.text{
  font-family: 'open sans', sans-serif;
  font-size: 0.9rem;
  padding: 1rem;
  align-self: center;

}

.link{
 font-family: 'open sans', sans-serif;
  font-size: 0.75rem;
  text-decoration: none;
  align-self: center;
  color: #ccc;
  margin-top: 1rem;
}


.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  max-width: 100%;
  
}

.row input{
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
  margin-bottom: 30px;
}

.row input:focus{
   box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
   outline: none;
}

.row input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.row label{
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: rgba(187,187,187,0.9);
}

.row button{
  border-radius: 40px;
  width: 30%;
  height: 10px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(182,240,176);
background: linear-gradient(0deg, rgba(182,240,176,0.8197872899159664) 0%, rgba(191,225,249,0.8702074579831933) 100%);
  border: 0px;
  cursor: pointer;
  /* transition: opacity 0.25s ease-out; */
}

.row button:hover{
  opacity: 0.8;
}

#button{
  padding-bottom: 3rem;
}
