nav {
    height: 100px;
    padding: 1rem;
    position: relative;
  
    /* justify-content: space-around;
    flex-wrap: wrap; */
    background: rgb(238,231,174);
    background: linear-gradient(90deg, rgba(238,231,174,.5) 0%, rgba(148,233,208,.5) 100%);
    font-weight: 600;
    box-shadow: #00000036 0px 1px 3px 2px;
/*   
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%; */
  }
  
  .dog {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
  }
  
  .logo {
    float: left;
    
  }
  
  .nav__authLinks {
    float: right;
    
  }
  
  .nav__projectName {
    color: #e4f9ff;
    text-decoration: none;
  }
  
  .authLink {
    color: #61dafb;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .authLink + .authLink {
    padding: 1em;
  }
  
  .authLink:hover {
    color: #ffffff;
  }
  
  .nav-logoutbtn {
    font-family: inherit;
    font-weight: inherit;
    padding: 0.5em 1em;
    margin-left: 1em;
    background-color: #5595ff;
    box-shadow: 0 0 5px 0 aliceblue;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #e3f2ff;
    transition: all 0.2s ease-in-out;
    position: sticky;
    top: 0;
  }
  
  .nav-logoutbtn:hover {
    transform: scale(1.05);
    background-color: #d13e3e;
  }

  .button{
    background: transparent;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    font-family: 'open sans', sans-serif;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 5px 0 whitesmoke;
  }
  .button:hover{
    background: transparent;
    text-decoration-color: #ffffff;
  }
  .button:before, .button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: white;
    transition:400ms ease all;
  }
  .button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  