body {
  height: 100%;
}

.App {
  text-align: center;
}

.img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.App img {
  z-index: 3;
}

.title {
  font: 'open sans', sans-serif;
  font-weight: bold;
  z-index: 2;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.653);
}

.card {
  background-color: rgba(255,255,255,0.75);
  border-radius: 25px;
  box-shadow: #0000002e 1px 3px 4px 2px;
  padding: 2em;
}

.matches-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.content-large {
  width: 1200px;
  margin: 3em auto 0;
  max-width: 90%;
}

.content-medium {
  width: 900px;
  margin: 3em auto 0;
  max-width: 90%;
}

.content-small{
  width: 500px;
  margin: 3em auto 0;
  max-width: 90%;
}

.card.content-medium.home {
  display: flex;
  gap: 5em;
}

